 {% load static %}
 <div class="container" style="text-align: justify;">
    <div class="modal fade" id="nom035" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">¿Qué es la NOM-035-STPS-2018?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          <img src="{% static 'img/principalimg/wtNom.png' %}" class="rounded-circle" style="width: 470px;">
          La NOM 035 STPS es una norma que obliga a las empresas a detectar y prevenir los riesgos psicosociales que se puedan presentar en las actividades diarias dentro de una organización. En caso de incumplimiento a esta norma, las multas pueden ser de más de 500 mil pesos.  
          </br>
Los Factores de Riesgo Psicosocial en el trabajo son los aspectos psicológicos y sociales que pueden afectar negativamente a los trabajadores dentro de una organización. Pueden ser, por ejemplo, estrés grave, ansiedad o trastornos del sueño de acuerdo al tipo de puesto, tipo de jornada laboral o a la exposición a eventos traumáticos severos. 
<legend>¿A qué se comprometen los trabajadores en la NOM-035-STPS-2018?</legend> 
Para cumplir con esta Norma, los empleados deben:
        </br>
Seguir todas las medidas de prevención que establezca el patrón para controlar los factores de riesgo psicosocial.</br>
Evitar prácticas que atenten contra el clima organizacional y que promuevan actos de violencia en el área de trabajo.</br>
Participar en la identificación de los factores de riesgo psicosocial y en la evaluación del entorno organizacional.</br>
Una de las opciones para identificar los factores que están afectando a tu fuerza laboral es crear una encuesta de clima laboral.</br>         
</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>