<div class="container">
    <div class="modal fade" id="politicas" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLongTitle">Politicas</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="text-align: justify;">
<p>1. Todos los Colaboradores están obligados a mantener una conducta de respeto y 
congruente con la filosofía institucional.</p>
<p>2. Las relaciones entre los Colaboradores deben ceñirse al ámbito profesional de sus 
funciones, manteniendo un esquema de cordialidad.  </p>
<p>3. En todo momento se deberá de fomentar un sentido de respeto hacia la dignidad 
de la persona que promueva una adecuada productividad y desarrollo laboral.</p>
<p>4. Se promueve un ambiente sano, de convivencia pacífica y respetuosa entre colaboradores, 
donde ninguna manifestación de hostigamiento, acoso o malos tratos 
será tolerada, así como ningún incidente que propicie factores de riesgo psicosocial o 
acciones en contra del entorno organizacional favorable.</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>